{% extends 'layout.html' %} 
{% block title %}users{% endblock %}

{% block body %}

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Generate Report</h1>
        <p class="mb-4">
          Welcome to th CRM team
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Users table
            </h6>
          </div>
          
          <div class="card-body">

            <section>
              <a href="#" data-toggle="modal" data-target="#usersModal" class="btn btn-warning btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">ADD NEW MEMBER</span>
            </a>
            </section>
            <p>(button opens modal)</p>

            <div class="table-responsive">
              <table
                class="table table-bordered"
                id="dataTable"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>JobTitle</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>ProfileImage</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>JobTitle</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>ProfileImage</th>
                  </tr>
                </tfoot>
                <tbody>

                {% for user in result.records %}
                  <tr>
                    <td>{{user.fields.FirstName}}</td>
                    <td>{{user.fields.LastName}}</td>
                    <td>{{user.fields.JobTitle}}</td>
                    <td>{{user.fields.Email}}</td>
                    <td>{{user.fields.PhoneNumber}}</td>
                    <td><img src="{{user.fields.ProfileImage[0].url}}" alt="{{user.fields.FirstName}}" width="50"></td>
                  </tr>
                  <!-- one table row -->
                {% endfor %}                 

                </tbody>
              </table>
            </div>
            <section>
              <a href="#" data-toggle="modal" data-target="#usersModal" class="btn btn-light btn-icon-split">
                <span class="icon text-gray-600">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">ADD NEW MEMBER</span>
              </a>
            </section>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

      <!-- start form modal -->
      <!-- Logout Modal-->
    <div
    class="modal fade"
    id="usersModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="usersModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Team member</h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>enter  all the fields below</p>
          <form class="form" id="form" action="{{ url_for('users') }}" method="post">
            <div class="form-group">
              <input type="text" class="form-control" form="form" required='required' name="teamId" placeholder="Enter id nr.">
            </div>
            <div class="form-group">
              <label for="exampleName">FirstName</label>
              <input type="text" id="exampleName" class="form-control" aria-describedby="Help" form="form" required='required' name="FirstName" placeholder="Enter first name">
              <small id="Help" class="form-text text-muted">We'll never share your name with anyone else.</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" form="form" required='required' name="LastName" placeholder="Enter LastName">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" form="form" required='required' name="JobTitle" placeholder="Enter JobTitle">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" form="form" required='required' name="Email" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" form="form" required='required' name="PhoneNumber" placeholder="Enter PhoneNumber">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" form="form" required='required' name="ProfileImage" placeholder="Enter ProfileImage">
            </div>
            <button type="submit" name="button" class="btn btn-primary">Submit</button>
            <input type="reset" name="Reset" value="Reset">
            <input type="submit" form="form" name="Submit" value="Submit">
          </form>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            type="button"
            data-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
      <!-- /.form modal -->
    </div>
    <!-- End of Main Content -->

    
    </div>

{% endblock %}
